html,
body {
    width:100%;
    height:100%;
    padding:0;
    margin-left:0;
    margin-right:0;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow:hidden;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover, a:focus{
    color: #a48f61;
    text-decoration: none;
    outline: 0;
}

img {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/
    -ms-user-select: none;
    user-select: none;
    /*-webkit-user-drag: none;*/
    user-drag: none;
}

.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-center{
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;
}

.noscroll{
    overflow:hidden;
}

.static{
    position: static;
}

section{
    position: relative;
    background-size:cover;
}

.parallax-overlay {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
}

p.serifItalic{
    font-family: 'Vollkorn', serif;
    font-style:italic;
    font-size:18px;
    line-height: 26px;
}

ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
    list-style-type: square;
}

.dark{
    color:#fff;
}

.whiteText
{
	color:#FFF
	}

.#fffText{
    color:#fff;
}

.#fff{
    color:#333;
}

.container {
    position: relative;
    z-index: 3;
}

section .container{
    padding-bottom:50px;
}

.bigSeparator{
    height:8px;
    background-color:black;
    margin-top:100px;
    margin-bottom:0;
}

.dropcap {
    float: left;
    color: inherit;
    font-size: 50px;
    line-height: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
}

h1, .h1{
    font-size:50px;
    text-transform: uppercase;
}

h2, .h2{
    font-size:40px;
    text-transform: uppercase;
}

h3, .h3{
    font-size:30px;
    text-transform: uppercase;
}

h4, .h4{
    font-size:18px;
    text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.container .row h1{
    margin-bottom:24px;
}

.noletterspacing{
    letter-spacing: 0px;
}

.serifItalic {
    font-family: 'dubielitalic', sans-serif;
}

.serif {
    font-family: 'dubielplainregular', sans-serif;
    font-style: normal;
}


.oswald{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.montserrat .serifItalic{
    text-transform: none;
    font-size:1.2em;
    font-weight: normal;
}

h4.oswald{
    letter-spacing:6px;
}

.dark p{
    color:#fff;
}

.btn-default {
    color: #333;
    background-color: transparent;
    border:0;
    /*-webkit-transition: all 300ms ease-in-out;*/
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-#fff {
    color: #fff;
    background-color: transparent;
    border:0;
}

.#fff.btn-default {
    color: #333;
    background-color: transparent;
    border:#333;
}

.btn-default:hover{
    background-color: #333;
    border-color:#333;
    color:#FFF;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    #fff-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 4px solid #3e8ddd;
	background-color: #3e8ddd;
	color:#FFF;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:2px;
}


/* Button 2 */
.btn_price {
	background: #3e8ddd;
	color: #fff;
	box-shadow: 0 6px #387FC7;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 0 0 5px 5px;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 15px 40px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_price:hover {
	color: #fff;
	box-shadow: 0 4px #387FC7;
	top: 2px;
}

.btn_price:active {
	box-shadow: 0 0 #387FC7;
	top: 6px;
}


/*.btn-price:hover{
    background-color: #3e8ddd;
    border:none;
    color:#FFF;
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}*/


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

/* NAVBAR */

.navbar{
	padding-top:10px;
	margin-top:0;
	}
	
.navbar-default .navbar-nav > li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:1px;
    padding-top:25px;
    padding-bottom:25px;
}

.navbar-default {
    background-color: #3e8ddd;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }


}
.navbar-default .navbar-link {
    color: #777;
}
.navbar-default .navbar-link:hover {
    color: #333;
}
.navbar-default .btn-link {
    color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
}

.logoNav{
    position:relative;
}

.navbar-nav {
    float: none;
    margin: 0;
}

.leftNav{
    float:right;
}

/*navbar effect available on screens where the menu doesnt toggle*/

@media screen and (min-width: 700px){
    .navbar-default .navbar-nav > li > a{
        margin:0;
        position:relative;
    }

  /*    .navbar-default .navbar-nav > li > a::before,
    .navbar-default .navbar-nav > li > a::after {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 50%;
        height: 1px;
        margin-top: -1px;
        background: #fff;
        content: '';
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
    }

   .navbar-default .navbar-nav > li > a::before {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }

   .navbar-default .navbar-nav > li > a::after {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
    }*/
	
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover::before,
    .navbar-default .navbar-nav > li > a:hover::after,
    .navbar-default .navbar-nav > li > a:focus::before,
    .navbar-default .navbar-nav > li > a:focus::after {
        opacity: 0.7;
    }

    .navbar-default .navbar-nav > li > a:hover::before,
    .navbar-default .navbar-nav > li > a:focus::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar-default .navbar-nav > li > a:hover::after,
    .navbar-default .navbar-nav > li > a:focus::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .navbar-default .navbar-nav > .active > a::before,
    .navbar-default .navbar-nav > .active > a::before:hover,
    .navbar-default .navbar-nav > .active > a::before:focus {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar-default .navbar-nav > .active > a::after,
    .navbar-default .navbar-nav > .active > a::after:hover,
    .navbar-default .navbar-nav > .active > a::after:focus {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color:#3e8ddd;
    background-clip: padding-box;
    border:0;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #fff;
    #fff-space: nowrap;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:1px;
    padding-top:10px;
    padding-bottom:10px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #676767;
}

@media (max-width: 766px) {
    .leftNav {
        float: left;
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a::before,
    .navbar-default .navbar-nav > li > a::after {
        height: 0px;
    }

    .navbar-default .navbar-nav > li {
        text-align: center;
        padding-top: 0px;
        padding-bottom:0px;
    }

    .navbar-collapse.in {
         overflow-y: visible;
    }

    .navbar-default .navbar-nav > li > a::before,
    .navbar-default .navbar-nav > li > a::after {
        position: relative;
        width: 0%;
        left: 10%;
        height: 0px;
        margin-top: -1px;

        content: '';
        z-index: -1;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #1c1c1c;
        border: 0;
        box-shadow: none;

    }

    .navbar-nav .open .dropdown-menu li{
        list-style-type: none;
        text-align: center;
    }



}


.navbar-default  .dropdown-menu li{
    list-style: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #000;
}

/* intro */
#intro {
    padding-top: 140px;
}

#intro .parallax-overlay{
    background-color:#3e8ddd;
}

/* scroller */
.scroller {
position: fixed;
z-index: 900;
width: 66px;
height: 27px;
bottom: 78px;
left: 50%;
margin-left: -33px;
background:url(/img/scroller.png) no-repeat;
background-position: 0 0;
text-transform: uppercase;
color: #333;
text-align: center;
padding: 33px 0;
font-size: 68.75%;
display: none;
transition: color 0.2s linear;
} 

/* text separator */

#text-separator{
    background-color:#363636;
    padding:20px;
    z-index:10;
}

#text-separator p{
    color: #fff;
}

#text-separator .btn{
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
}

/*pod page*/

#pod {
   background-color:#fff;
}

/* about section */

#about{
    /*background: url('img/daimond_eyes.png') repeat;/*/
}

/*diamond shapes */

.diamondWrapper {
    width: 130px;
    margin:20px auto;
    position: relative;
}

.diamondIcon{
    position:absolute;
    top:30px;
    width:30px;
    margin-left:50px;
    font-size:30px;
}

/* what we do section */

#what-we-do{
    background-color:#FFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
}

.squareWrapper {
    width: 130px;
    margin:20px auto;
    position:relative;
}

.squareIcon{
    position:absolute;
    top: 50px;
    width:30px;
    margin-left:50px;
    font-size:30px;
}

.tab-content{
    padding:40px;
}

div.active a{
    color:#a48f61;
}

.tab-content{
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.40);

    margin-bottom:40px;
}

/*fun facts section*/


#fun-facts{
    background-color:#FFF;
	padding-bottom: 70px;
}

/*news*/
#news {
   /* background: url('img/daimond_eyes.png') repeat;/*/
   background-color:#FFF;
}

#news .container {    padding-bottom: 10px;
}

#news .newsItem{
    margin-top:40px;
}

#news .imageWrapper {
    overflow: hidden;
    margin: -0.135em;
    width: 100%;
    height: 300px;
    background: #231f20;
    text-align: center;
    position:relative;
    /*cursor: pointer;*/
}

#news .imageWrapper img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.3;
    height:100%;
}

#news .imageWrapper .caption {

    backface-visibility: hidden;
}

#news .imageWrapper .caption h4{
    margin:0;
}

#news .imageWrapper .caption p{
    color:#fff;
    letter-spacing:0.5px;
}

#news .imageWrapper .caption::before,
#news .imageWrapper .caption::after {
    pointer-events: none;
}

#news .imageWrapper .caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#news .imageWrapper a {
    z-index: 1000;
    opacity: 0;
    color:#fff;
    top:20px;
}

#news .imageWrapper .caption {
    color:#fff;
}

#news .imageWrapper.effect {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

#news .imageWrapper.effect img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0,300px);
    transform: translate3d(0,0,300px);
}

#news .imageWrapper.effect:hover img {
    opacity: 0.8;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#news .imageWrapper.effect .caption::before,
#news .imageWrapper.effect .caption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #a48f61;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

#news .imageWrapper.effect:hover .caption::before {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
}

#news .imageWrapper.effect:hover .caption::after {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

#news .imageWrapper.effect h4,
#news .imageWrapper.effect p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

#news .imageWrapper.effect h4 {
    -webkit-transform: translate3d(0,-60%,0) translate3d(0,-160%,0);
    transform: translate3d(0,-60%,0) translate3d(0,-160%,0);
}

#news .imageWrapper.effect p {
    padding: 0.25em 2em;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
    transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

#news .imageWrapper.effect:hover h4 {
    -webkit-transform: translate3d(0,-60%,0) translate3d(0,-110%,0);
    transform: translate3d(0,-60%,0) translate3d(0,-100%,0);
}

#news .imageWrapper.effect:hover p {
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,60%,0);
    transform: translate3d(0,-50%,0) translate3d(0,60%,0);
}


#news .imageWrapper.effect:hover a {
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

#news .moreText{
    line-height:1em;
    font-size:4em;
    position:absolute;
    top:60%;
    left:46%;
}

#news .mfp-title{
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    text-transform:uppercase;
    text-align: center;
    letter-spacing:1px;
    line-height: 34px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index:3000;
    overflow-y: scroll;
}

.overlay-section{
    position: static;
}
/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.overlay-close img{
    cursor:pointer;
}

.overlay-close{
    padding:30px;
}

.close-ajax{
    padding:30px;
}

.close-ajax img{
    cursor: pointer;
}

.close-ajaxWrapper{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

 /*team*/

#team{
    background-color:#FFF;
}

.member {
    text-align:Center;
}

.member img{
    height:auto;
}

.memberSocial a{
    margin:5px;
}

.teamMember{
    padding:50px;
}

.teamMember img{
   margin:0 auto;
}


.teamCaption h3{
    padding-top:20px;
}

#team .teamCaption .serifItalic{
    font-weight:normal;
    font-size:18px;
    color:black;
    letter-spacing:-0.5px;
    line-height: 30px;
}

/*/features*/

#features{
    background: url(http://placehold.it/1600x1200) no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#features .container{
    padding-bottom: 0;
}
.feature{
    padding:30px;
}

/*CLIENTS*/

#clients{
    background-color:#363636;
}

#clients .container{
    padding-top:30px;
    padding-bottom:30px;
}


/*clinets review*/

#clients-reviews{
    padding:20px;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#clients-reviews .parallax-overlay{
    background-color:#3e8ddd;
}

#clients-reviews .review .serif,
#clients-reviews .review .serifItalic{
    text-transform:none;
}

#clients-reviews .owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: transparent;
}

/*why choose us*/

#why-choose-us{
  /* background: url('img/daimond_eyes.png') repeat;/*/
}


#why-choose-us  .panel-heading {
    padding: 20px;
}

#why-choose-us .panel-group .panel {
    margin-bottom: 20px;
    border-radius: 0;
    overflow: hidden;
    border:4px double #c99f6c;

    margin-left: 40px;
    margin-right: 40px;

}
#why-choose-us  .tab-content{
    padding:0px;
}

#why-choose-us .nav-tabs > li > a {

    border-radius: 0;

}

#why-choose-us .nav > li > a {
    padding: 5px 15px;
}

#why-choose-us .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color:transparent;
    border-top:3px solid #c99f6c;
    margin-top:-3px;
}

.progress-bar {

    background-color: #363636;

}

.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

/*pricing tables*/


#shop .subscriptionPrice h4, .subscriptionPrice h3{
    display: inline-block;
}

#shop .subscriptionList ul {

    padding:20px;

}

.dark .subscriptionList ul li{
    color:#fff;
}
#shop .subscriptionList ul li{
    list-style-type:none;
}

#shop .tableWrapper{
    border: 4px solid #3e8ddd;
    padding:40px;
    margin:20px;
}

#shop .recommended{
    margin-top:-20px;
}


/*featured works*/

#featured-works{
    background-color:#fff;
}

.featuredWork img{
    width:100%;
}

.featuredWork{
    position:relative;
}

.featuredWork .caption {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.90);
    -webkit-transition: all 1s ease-in-out;
    z-index:100;
}

.featuredWork:hover .caption{
    opacity: 1;

}

.featuredWork .caption-heading {
    width:100%;
    height:100px;
}

.featuredWork .caption-heading .serifItalic{
    color:#fff;
    text-transform:none;
}

/*information*/
#our-information{
    padding:20px;
    background: url(http://placehold.it/1600x1200) no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#our-information .parallax-overlay{
    background-color: rgba(0, 0, 0, 0.70);
}

/*contact page*/

#clients-reviews{
    background-color:#3e8ddd;
}

#contact_form input{
    width:100%;
    height:50px;
    padding:10px;
    padding-bottom:0px;
    border:0;
    background:transparent;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    font-family: 'dubielitalic', sans-serif;
	color:#FFF;
}

#contact {
   background-color:#3e8ddd;
}

#contact_form input:focus{
    outline:0;
    background:transparent;
}

#contact_form label{
    width: 90%;
    margin:10px;
    color:#fff;
}

#contact_form textarea:focus{
    outline:0;
    background:transparent;
}

#contact_form textarea{
    width:100%;
    height:190px;
    padding:10px;
    padding-bottom:0px;
    border:0;
    background:transparent;
    border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    font-family: 'dubielitalic', sans-serif;
    color: #fff;
}

#contact_form input#submit{
    border:0;
    font-size:20px;
    padding:0;
    padding-left:20px;
    padding-right:20px;
    height:30px
}

/*google map*/
#googleMap {
    height: 350px;
    overflow: hidden;
}

/*footer*/
#footer {
	padding-top:30px;
   background-color:#3e8ddd;
}

#footer .topLine{
    margin:0 auto;
}

#footer .footerLogo{
    margin-top:40px;
    margin-bottom:40px;
}

#footer .bottomLine{
    padding:20px;
    margin:0 auto;
}

.bottomLine p{
    padding:5px;
    font-size:12px;
	color: #fff;
}

.bottomLine .footerSocialIcons{
    padding:20px;
}

.footerSocialIcons{
    list-style:none;
	padding-top: 10px;
}

.footerSocialIcons li{
    display:inline;
    margin:0 10px;
}

.footerSocialIcons li a{
    color: #fff;
}

/* overlays */
#singlePageIntro{
    height:300px;
    background: url('http://placehold.it/1200x300');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#singlePageContent{
    background-color:#fff;
}
#singlePageIntro .container{
    padding:30px;
}

#singlePageContent{
    padding:50px;
}

.singleProjectInfo ul li{
    list-style-type: none;
}

.singleProjectInfo{
    border-left:4px double #c99f6c;

}

.singleProjectInfo ul{
    list-style-type: none;
    padding:10px 40px;
}

.singleImageWrapper{
    margin-top:50px;
}

.singleImageWrapper iframe{
    width:100%;
    min-height:100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  Pre Loader  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#preloader  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    overflow:hidden;
}

#status  {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(img/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

#preloader .loading{
    width: 130px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px 0 0 -65px;
    text-align: center;
}

iframe{
    border:none;
}

.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;
}

.tp-banner{
    width:100%;
    position:relative;
}

/*recent news section*/

#recentBlog, #mainBlog{
    background-color:#FFF;
}

#recentBlog .recentblogPost{
    padding:15px;
    margin-top:20px;
    margin-bottom:20px;
}

#recentBlog .squareWrapper{
    float: left; width: 100px; height: 100px; margin-right:20px;
    margin-bottom:20px;
}

#recentBlog .recentPostTitle{
    padding-top:27px;
    padding-left:10px;
}

#recentBlog .recentPostTitle .oswald,
#mainBlog .postTitle .oswald{
    text-transform:none;
    letter-spacing:0px;
    font-size:14px;
}

#recentBlog .recentDate{
    position:absolute;
    top: 20px;
    width:100px;
    margin-left:0px;
    text-align:Center;
}

/*BLOG PAGE*/

#mainBlog{
    padding-top:100px;
}

#mainBlog hr{
    margin-bottom:60px;
}

article{
    margin-bottom:60px;
}

article .squareWrapper{
    margin:0;
    float: left; width: 130px; height: 130px; margin-right:20px;
	margin-bottom:20px;
}

article .recentDate{
    position:absolute;
    top: 35px;
    width:100px;
    margin-left:14px;
    text-align:Center;
}

article .recentDate h3,
article .recentDate h4{
    margin:0;
}

article img{
    padding-bottom:50px;
}
tim
article p{
    padding-bottom:20px;
}

article .postTitle{
    padding-top:18px;
}

.widget ul{
    list-style-type:square;
    padding-left:20px;
}

.widget{
    padding: 10px;
    margin-bottom:20px;
}

.widget ul li{
    color:#c99f6c;
    margin-bottom:10px;
}

.widget ul li a{
    color: #353535;
}

#mainBlog .form-control {
    height: 45px;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

#mainBlog .form-control:focus {
    border-color: #c99f6c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(201, 159, 108, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(201, 159, 108, 0.60);
}

#mainBlog .input-group-addon {
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #282828;
    border: 0;
    border-radius: 0;
}

#mainBlog .input-group-addon a{
    color: #a48f61;
}

#mainBlog  .blogPostSeparator {
    width: 60px;
    height: 2px;
    background-color: #c99f6c;
    margin-bottom: 20px;
    margin-top: 15px;
}

#mainBlog article .owl-nav div {
    padding: 0;
}

#mainBlog article .owl-nav i{
    margin-top: 8px;
}

#mainBlog article .owl-nav div {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    color:#fff;
    width:50px;
    height:50px;
}

#mainBlog article .owl-nav .owl-prev{
    left: 10px;

}

#mainBlog article .owl-nav .owl-next{
    right: 10px;
}

#mainBlog article .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 19px;
    background: transparent;
}

#mainBlog article .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: transparent;
    text-decoration: none;
}

#mainBlog blockquote p{
    padding:0;
}
